.navigation {

    @include respond-480 {
        display: none;
    }
    
    &__checkbox {
        display: none;
    }

    &__button {
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 40%;
        left: -20px;
        z-index: 5000;
        text-align: center;
        cursor: pointer;

        @include respond-768 {
            left: -40px;
        }
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 40%;
        left: -25%;
        background-image: radial-gradient($secondary-color, $white);
        z-index: 4000;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: -50%;
        z-index: 4500;
        opacity: 1;
        width: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        overflow-y: scroll;
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        font-family: $font-secondary;
        &:link,
        &:visited {
            display: inline-block;
            font-size: 2rem;
            font-weight: 700;
            padding: 1rem 2rem;
            color: $accent-color;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $accent-color 50%);
            background-size: 225%;
            transition: all .4s;

            @include respond-950 {
                font-size: 1.5rem;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $white;
            transform: translateX(1rem);
        }
        
    }


    // FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 182%;
    }


    // ICON
    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            width: 1.5rem;
            height: 3px;
            background-color: $black;
            display: inline-block;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            transition: all .3s;
        }

        &::before { top: -.5rem; }
        &::after { top:.5rem; }
    }

    &__button:hover &__icon::before {
        width: 2rem;
    }

    &__button:hover &__icon::after {
        width: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        width: 1.5rem;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        width: 1.5rem;
        transform: rotate(-135deg);
    }
}