$accent-color: #024EFC;
$secondary-color: #E5EDFE;
$white: #fff;
$black: #333;
$yellow: #FFCC32;

$font-primary: 'Playfair Display', serif;
$font-secondary: 'Montserrat', sans-serif;
$font-tertiary: 'Karla', sans-serif;
